<!DOCTYPE html>
<html>
<head>
    <title>Simulación Entidad Financiera - Iniciar Sesión</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Iniciar Sesión</h1>
        <form method="POST">
            <label for="usuario">Usuario:</label>
            <input type="text" id="usuario" name="usuario" required><br>

            <label for="contrasena">Contraseña:</label>
            <input type="password" id="contrasena" name="contrasena" required><br>

            <input type="submit" value="Iniciar Sesión">
        </form>
        {% if mensaje %}
            <p>{{ mensaje }}</p>
        {% endif %}
    </div>
</body>
</html>
